<section id="modes">
  <div id="auto">
    <h2>Auto Mode</h2>
    <input id="auto-button" type="button" value="Enable" class="btn btn-primary" onclick="enableAutoMode();">
    <span id="after-auto-button"></span>
    <pre id="auto-tags"></pre>
  </div>
</section>
