<section id="modes">
  <div id="manual">
    <h2>Manual Mode</h2>
    <input type="button" value="Get tags" class="btn btn-primary" onclick="getTags();">
    <pre id="manual-tags"></pre>
  </div>
</section>
